body {
    /* background-color: #dcfffd; */
    /* text-shadow: 0.1em 0.1em white; */
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.site-header > .info {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Play', sans-serif;
}

.site-header > .banner {
    background-color: #c7c7c7;

    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}

@media screen and (min-width: 350px) {
    .site-header > .banner {
        display: flex;
        flex-direction: row;

        justify-content: center;
    }

    .site-header > .banner > img {
        margin-top: 1em;
    }
}

h1 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.05em;
    font-family: 'Varela Round', sans-serif;
    font-size: 5em;
    text-shadow: 0.05em 0.05em #f5f5dc;
}

h2 {
    text-shadow: 0.05em 0.05em #f5f5dc;
    font-family: 'Varela Round', sans-serif;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #c7c7c7;
    margin: 0;
    background-repeat:no-repeat;
    background-position: center center;

    color: black;
    text-decoration: none;

    width: 20em;
    height: 20em;
    text-align: center;
    margin: 1em;
    font-family: 'Play', sans-serif;

    border: 3px solid black;

    transition-property: font-size, width, height;
    transition-duration: 0.3s;
}

.project:hover h2 {
    font-size: 2em;
}

.project:hover {
    font-size: 1.1em;
}
