body {
    /* background-color: #dcfffd; */
    /* text-shadow: 0.1em 0.1em white; */
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.site-header > .info {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Play', sans-serif;
}

.site-header > .banner {
    background-color: #e4e4e4;

    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}

@media screen and (min-width: 350px) {
    .site-header > .banner {
        display: flex;
        flex-direction: row;

        justify-content: center;
    }

    .site-header > .banner > img {
        margin-top: 1em;
    }
}

h1 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.05em;
    font-family: 'Varela Round', sans-serif;
    font-size: 5em;
    text-shadow: 0.05em 0.05em #f5f5dc;
}
