<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title=`Nigel Baillie - ${title}`
    body
        .site-container
            include /site-header.pug

            .content
                != contents
