<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title  Nigel Baillie - Life in Japan
    body
        div.site-header
            h1.smallhead  Nigel Baillie
            h2  Temporary apartment photos

        div.gallery

            div.gallerypic
                a.imglink(href="/images/japan/Shoe Section.jpg", target="_blank")
                    img(src="/images/japan/Shoe Section.jpg", alt="The door to my apartment. My shoes are sitting in the recessed floor in front of the door, alongside a mirror and some umbrellas.")
                p.caption A very Japanese entryway with the recessed floor for shoes.

            div.gallerypic
                a.imglink(href="/images/japan/Entry.jpg", target="_blank")
                    img(src="/images/japan/Entry.jpg", alt="View of the apartment as you walk in. It's long and narrow, but quite spacious. The kitchen is to the right. In the back, a bed and couch can be seen, slightly obstructed by a thin wall in the center.")
                p.caption The view looking into the apartment. It's somewhat narrow but overall quite spacious.

            div.gallerypic
                a.imglink(href="/images/japan/Bed1.jpg", target="_blank")
                    img(src="/images/japan/Bed1.jpg", alt="Close-up view of the bed and couch behind the small wall at the end of the kitchen area.")
                p.caption The bed and a couch are behind this little wall at the end of the kitchen area.

            div.gallerypic
                a.imglink(href="/images/japan/Bed2.jpg", target="_blank")
                    img(src="/images/japan/Bed2.jpg", alt="Full view of the queen-sized bed.")
                p.caption Big bed! There is a balcony, but all you can see from it is the inside of the adjacent bicycle garage.
