<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title  Nigel Baillie - Life in Japan
    body
        div.site-header
            h1.smallhead  Nigel Baillie
            h2  Temporary apartment photos

        div.gallery

            div.gallerypic
                a.imglink(href="/images/japan/Shoe Section.jpg", target="_blank")
                    img(src="/images/japan/Shoe Section.jpg", alt="The door to my apartment. My shoes are sitting in the recessed floor in front of the door, alongside a mirror and some umbrellas.")
                p.caption A very Japanese entryway with the recessed floor for shoes.

            div.gallerypic
                a.imglink(href="/images/japan/Entry.jpg", target="_blank")
                    img(src="/images/japan/Entry.jpg", alt="View of the apartment as you walk in. It's long and narrow, but quite spacious. The kitchen is to the right. In the back, a bed and couch can be seen, slightly obstructed by a thin wall in the center.")
                p.caption The view looking into the apartment. It's somewhat narrow but overall quite spacious.

            div.gallerypic
                a.imglink(href="/images/japan/Bed1.jpg", target="_blank")
                    img(src="/images/japan/Bed1.jpg", alt="Close-up view of the bed and couch behind the small wall at the end of the kitchen area.")
                p.caption The bed and a couch are behind this little wall at the end of the kitchen area.

            div.gallerypic
                a.imglink(href="/images/japan/Bed2.jpg", target="_blank")
                    img(src="/images/japan/Bed2.jpg", alt="Full view of the queen-sized bed.")
                p.caption Big bed! There is a balcony, but all you can see from it is the inside of the adjacent bicycle garage.

            div.gallerypic
                a.imglink(href="/images/japan/Lame Balcony View.jpg", target="_blank")
                    img(src="/images/japan/Lame Balcony View.jpg", alt="Balcony view - can see the sky, the railway, and a bicycle garage.")
                p.caption The aforementioned bicycle garage. I can hear a train zoom by every couple of minutes. It's not too loud, though.

            div.gallerypic
                a.imglink(href="/images/japan/Garbage Totem Pole.jpg", target="_blank")
                    img(src="/images/japan/Garbage Totem Pole.jpg", alt="Four garbage recepticles stacked ontop of each other: Plastic Bottles, Combustible Waste, Incombustible Waste, and Cans.")
                p.caption Japan is pretty insane about sorting their garbage.

            div.gallerypic
                a.imglink(href="/images/japan/Shower and Tub.jpg", target="_blank")
                    img(src="/images/japan/Shower and Tub.jpg", alt="Washroom area. Half of the area is a tub, and half is a standing shower. The showerhead is on a hose and can be moved around freely.")
                p.caption Fancy shower and tub setup.

            div.gallerypic
                a.imglink(href="/images/japan/Big and Small Flush.jpg", target="_blank")
                    img(src="/images/japan/Big and Small Flush.jpg", alt="Close-up of toilet flush lever, featuring kanji for 'big' and 'small'.")
                p.caption "Big" and "small" toilet flushing options.
