<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Does KOMOJU Buys work?
    body
        div.site-header
            h1.smallhead KOMOJU Buys test

        .content
            a.komoju-buys-button(href="https://komoju.com/buys/1qlq16xw9ckiia6gm8lyxvi8q", data-product-id="1qlq16xw9ckiia6gm8lyxvi8q")
            script(src="https://cdn.komoju.com/buys.js")
