<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Nigel Baillie

        script(src="/main.js", defer)
    body
        .site-container
            include /site-header.pug

            .blog-posts
                h1.smaller Blog
                each post in blogPosts
                    a.blog-link(href=post.path)
                        .blog-link-bg
                        .blog-link-content
                            small=post.date
                            span=post.title

            .project-group
                h1.smaller Hobby Projects

                .projects
                    each project in projects
                        include /project-link.pug
