<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Nigel Baillie

        script(src="/main.js", defer)
    body
        .site-container
            include /site-header.pug

            article.intro
                p Hello, I'm Nigel. I've been writing software professionally since I was 18, and unprofessionally for longer.
                p As a programmer, I tend towards minimalism. I prefer lean 80% solutions over complex 100% solutions.

            .top-half
                .current-setup
                    h1.smaller Dev Setup
                    pre <span class='brkt'>{</span>
                        |
                        | &nbsp; <span class='str'>"laptop"</span>:   "<a href='https://frame.work/'>Framework</a>",
                        | &nbsp; <span class='str'>"os"</span>:       "<a href='https://archlinux.org/'>Arch Linux</a>, <a href='https://swaywm.org/'>Sway</a>",
                        | &nbsp; <span class='str'>"terminal"</span>: "<a href='https://sw.kovidgoyal.net/kitty/'>kitty</a>",
                        | &nbsp; <span class='str'>"shell"</span>:    "<a href='https://www.nushell.sh/'>nushell</a>",
                        | &nbsp; <span class='str'>"editor"</span>:   "<a href='https://helix-editor.com/'>helix</a>"
                        |<span class='brkt'>}</span>

                .blog-posts
                    h1.smaller Blog
                    each post in blogPosts
                        a.blog-link(href=post.path)
                            .blog-link-bg
                            .blog-link-content
                                small=post.date
                                span=post.title

            .project-group
                h1.smaller Hobby Projects

                p This isn't everything I've ever made, but it's a good glimpse of what I'm up to on a typical weekend.

                .projects
                    each project in projects
                        include /project-link.pug
