<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Nigel Baillie
    body
        include /site-header.pug

        .project-group
            h1 Game jam projects

            .projects
                each project in ldProjects
                    include /project-link.pug

        .project-group
            h1 School projects

            .projects
                each project in schoolProjects
                    include /project-link.pug

        .project-group
            h1 Noteworthy side projects

            .projects
                each project in sideProjects
                    include /project-link.pug
    script(src="/main.js")
