<!DOCTYPE html>
html(lang="en")
    head
        style
            include /pat313.css
            
        title PAT313 F18 - Nigel Baillie - Vignette: Visions
    body
        textarea(id='source')
            include /pat313.md

        script(src="https://player.vimeo.com/api/player.js")
        script(src="/remark.min.js")
        script(src="/pat313.js")
