<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title  Nigel Baillie?
    body
        div.site-header
            h1.smallhead  What the hell is this?

        .content
            p The stuff I keep under the "/private" namespace isn't strictly secret, it's just stuff I don't want indexed anywhere. I assume you visited this page because you saw a link that included "/private/..." and was like "oooh, I wonder what else is private. I bet I can find something juicy." So sorry, but I am not dishing out anything juicy here. Thing is, though, this site is open source... Including all of the content. If you know where to look, you can find all the juice you could hope for.
