.site-header
    .banner
        img(src="/images/portrait-sm.webp", alt="(Portrait of Nigel)", width="90px", height="94px")
        h1= fullName
    .info
        each point in bulletPoints
            span= point
hr
