.site-header
    a.banner(href="/")
        img(src="/images/portrait-sm.webp", alt=firstName, width="90px", height="94px")
        h1= `${firstName} ${lastName}`
    .info
        each point in bulletPoints
            div= point
hr
